@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

header, footer {
  @apply shadow-md;
}

button {
  @apply transition-colors duration-300 ease-in-out;
}

button:hover {
  @apply bg-orange-600 text-white;
}

.custcss{
  width: 600px;
}